.footer_icon {
    color: #1E90FF;
    pointer-events: auto;
    transition: color 0.2s ease;
  }
  
  .footer_icon-disabled {
    color: var(--ion-color-danger) !important;
    pointer-events: none !important;
  }
  
